.subheading {
    text-align: center;
    font-size: 40px;
    font-family: 'Cairo', sans-serif;
    margin-bottom: 30px;
  }
  
  .gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-bottom: 100px;
    row-gap: 40px;
    column-gap: 60px;
  }

  .project {
      text-align: center;
  }